*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}
body {
    font-size: 16px;
    background: #12B0E8;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container {
    background-color: #fff;
    width: 75vw;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
.search-wrapper {
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 15px;
}
.search-wrapper input {
    font-size: 18px;
    border: 2px solid #383cc1;
    color: gray;
    border-radius: 10px;
    outline: 0;
    padding: 15px;
}
.search-wrapper button {
    background-color: #383cc1;
    color: #fff;
    font-size: 18px;
    padding: 15px;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
}
#search_result {
    display: none;
    margin-top: 20px;
}
#search_result img{
    width: 200px;
}